


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Ensures html and body fill the viewport */
    overflow-x: hidden; /* Prevents horizontal scrollbar if elements slightly exceed width */
}

section{
    height: 100vh !important;
}


/* ////////////////////////////////////////////////////////////////////////////////*/
/* ---------------------------|| About us Section  || ---------------------------|| */

.section-aboutus {
  position: relative !important;
  width: 100% !important;
  height: 100vh !important; /* Adjust height as needed */
 
  background-color: white !important;
  font-family:'EngravingCC' !important;
}

.aboutUs_backgroundImg {
  position: absolute !important;
  object-fit: cover !important; 
}

.section-aboutus img:first-of-type {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  z-index: 1;
}

.section-aboutus img:last-of-type {
  position: absolute; 
  bottom: -40px; 
  left: 3%; 
  z-index: 2; 
  max-width: 100%; 
  transition: all 0.3s ease-in-out; 
}

@media (max-width: 768px) {
  .section-aboutus img:last-of-type {
    width: 70%; 
    bottom: 0; 
    left: 5%; 
  }
}

@media (max-width: 480px) {
  .section-aboutus img:last-of-type {
    width: 80%; 
    bottom: 10px; 
    left: 10%; 
  }
}

.textAboutUs{
  position: absolute !important;
  top: 20% !important;
  right: 10% !important;
  color: white;
  max-width: 800px;
  z-index: 3;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
 
}


.textAboutUs h1 {
  font-size: 4.5rem; 
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  margin-bottom: 20px;
  padding: 15px;
  background: linear-gradient(90deg, #9a9a9a, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textAboutUs p {
  font-size: 1.4rem;
  line-height: 1.6; 
  text-shadow: 1p

}

@media (max-width: 768px) {
  .text-aboutus {
    top: 25%;
    right: 3%;
    max-width: 80%;
    text-align: center;
  }

  .text-aboutus h1 {
    font-size: 2.5rem;
  }

  .text-aboutus p {
    font-size: 1.1rem;
  }
}


@media (max-width: 480px) {
  .text-aboutus {
    top: 30%;
    right: 2%;
    max-width: 90%;
  }

  .text-aboutus h1 {
    font-size: 2rem;
  }

  .text-aboutus p {
    font-size: 1rem;
  }
}


.aboutus-button{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-size: inherit;
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #21332B;
  color: rgb(0, 0, 0);
  border: 1.5px solid black;
  text-transform: uppercase;
 }
 
 .aboutus-button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .aboutus-button:hover span {
  color: white;
 }
 
 .aboutus-button::before,
 .aboutus-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .aboutus-button::before {
  content: ""; 
  background: #e4e4e4;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .aboutus-button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 

/* .section-aboutus img {
  position: absolute;
  object-fit: cover;
}

.section-aboutus img:first-of-type {
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 1; /* Background image 
}

.section-aboutus img:last-of-type {
  position: absolute; 
  bottom: -40px; 
  left: 3%; 
  z-index: 2; 
  max-width: 100%; 
  transition: all 0.3s ease-in-out; 
}




.text-aboutus {
  
  top: 20%;
  right: 5%;
  color: white;
  max-width: 600px;
  z-index: 3;
  text-align: right;

 
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.text-aboutus h1 {
  font-size: 4.5rem; /
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  
 

  
  background: linear-gradient(90deg, #9a9a9a, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-aboutus p {
  font-size: 1.6rem;
  line-height: 1.6;
  
  
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-aboutus h1,
.text-aboutus p {
  animation: fadeInUp 1s ease-out forwards;
}


@media (max-width: 768px) {
  .text-aboutus {
    top: 25%;
    right: 3%;
    max-width: 80%;
    text-align: center;
  }

  .text-aboutus h1 {
    font-size: 2.5rem;
  }

  .text-aboutus p {
    font-size: 1.1rem;
  }
}


@media (max-width: 480px) {
  .text-aboutus {
    top: 30%;
    right: 2%;
    max-width: 90%;
  }

  .text-aboutus h1 {
    font-size: 2rem;
  }

  .text-aboutus p {
    font-size: 1rem;
  }
}


.aboutus-button{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-size: inherit;
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #21332B;
  color: rgb(0, 0, 0);
  border: 1.5px solid black;
  text-transform: uppercase;
 }
 
 .aboutus-button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .aboutus-button:hover span {
  color: white;
 }
 
 .aboutus-button::before,
 .aboutus-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .aboutus-button::before {
  content: ""; 
  background: #e4e4e4;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .aboutus-button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 

 @keyframes slideInLeft {
  0% {
      transform: translateX(-100%) scale(0.9);
      opacity: 0;
  }
  100% {
      transform: translateX(0) scale(1);
      opacity: 1;
  }
}

.custom-slide-left {
  opacity: 0;
  animation: slideInLeft 1.5s ease-out 0.3s forwards; 
}

.about_us_txt{
  font-family:'EngravingCC';

}


.navbar-test li{

  margin-top: 4rem !important;
} */

/* ---------------------------|| About us END || ---------------------------|| */
/*////////////////////////////////////////////////////////////////////////////*/








/*////////////////////////////////////////////////////////////////////////////*/
/* ---------------------------|| Cars we ofer Section || ---------------------------|| */
/*////////////////////////////////////////////////////////////////////////////*/

.section_cars_we_offer {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  width: 100% !important;
  background-color: #141414 !important;
  text-align: center !important;
  overflow: hidden !important;
  padding: 1rem !important;
  box-sizing: border-box !important;
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 0.7) !important;
}
.cwo-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 80% !important;
  max-width: 1400px !important;
  margin-bottom: 2rem !important;
}
.cwo-text {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  text-align: left !important;
}

.gradient-text-title, .cwo_title {
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "poppins"; 
  text-transform: uppercase;
  font-size: 57px;
  margin-bottom: 10px; /* Adjust the value as needed for smaller spacing */
}
.cwo_title{
  font-size: 30px;
  font-weight: 400;
  font-family:'EngravingCC';
}
.cwo_buttons{
 display: flex !important;
  flex-direction: row !important;
  font-family: sans-serif !important;
  gap: 10px !important; 
  flex-wrap: wrap !important; 
  justify-content: center !important; 
}

.button_elegant{
  padding: 15px 60px;
  border: 2px solid #b2b2b2;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 30px;


}
.gradient-text-desc {
  font-size: 1.5rem;
  color: rgb(178, 178, 178);
  font-family: "poppins" !important;
  font-weight: 100 !important;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  width: 77%; /* Adjust the value as needed */
  margin-top: 0; /* Remove any default top margin */
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(199, 199, 199, 0.1) 0%,
    rgba(196, 196, 196, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.cwo-car-image-container {
  position: relative !important;
  width: 80% !important;
  max-width: 600px !important;
  margin: 1rem 0 !important;
}

.cwo-car-image {
  width: 100% !important;
}

.cwo-svg {
  position: absolute !important;
  bottom: -50px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 120% !important;
}
/*
.cwo-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 80% !important;
  max-width: 1200px !important;
  margin-bottom: 2rem !important;
}

.cwo-text {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  text-align: left !important;
}

.overlapping-element {
  pointer-events: none !important;
}

.gradient-text-title, .cwo_title {
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.2)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  font-family: "poppins" !important;
  text-transform: uppercase !important;
  font-size: 57px !important;
  margin-bottom: 10px !important;
}

.cwo_title {
  font-size: 30px !important;
  font-weight: 400 !important;
  font-family:'EngravingCC' !important;
}

.gradient-text-desc {
  font-size: 1.5rem !important;
  color: rgb(178, 178, 178) !important;
  font-family: "poppins" !important;
  font-weight: 100 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.4rem !important;
  width: 77% !important;
  margin-top: 0 !important;
}

.cwo-buttons {
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem !important;
  width: 60% !important;
}

.cwo-car-image-container {
  position: relative !important;
  width: 80% !important;
  max-width: 600px !important;
  margin: 1rem 0 !important;
}

.cwo-car-image {
  width: 100% !important;
}

.cwo-svg {
  position: absolute !important;
  bottom: -50px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 120% !important;
}

@media (max-width: 768px) {
  .gradient-text-desc {
    font-size: 1.5rem !important;
  }
  .cwo-svg {
    bottom: -90px !important;
  }
}

@media (max-width: 480px) {
  .gradient-text-desc {
    font-size: 1.2rem !important;
  }

  .cwo-content {
    flex-direction: column !important;
    align-items: center !important;
  }
}

.cwo-buttons {
  display: flex !important;
  flex-direction: row !important;
  font-family: sans-serif !important;
  gap: 10px !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.boton-elegante {
  padding: 15px 60px !important;
  border: 2px solid #b2b2b2 !important;
  background: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff !important;
  font-size: 1.6rem !important;
  cursor: pointer !important;
  border-radius: 30px !important;
  transition: all 0.4s ease !important;
  outline: none !important;
  position: relative !important;
  overflow: hidden !important;
  text-align: center !important;
}

.boton-elegante::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: radial-gradient(
    circle,
    rgba(199, 199, 199, 0.1) 0%,
    rgba(196, 196, 196, 0) 70%
  ) !important;
  transform: scale(0) !important;
  transition: transform 0.5s ease !important;
}

.boton-elegante:hover::after {
  transform: scale(4) !important;
}

.boton-elegante:hover {
  border-color: #666666 !important;
  background: #292929 !important;
}

.button_v2 {
  background: none !important;
}

.button_v2:hover {
  border-color: #b8b8b8 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}

.button_v1:hover {
  border-color: #b8b8b8 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}

.button_v1::after {
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 0.1) 0%,
    rgba(0, 0, 0, 0) 70%
  ) !important;
}

/* Responsive adjustments */
/* @media (max-width: 1200px) {
  .boton-elegante {
    padding: 14px 50px !important;
    font-size: 1.1rem !important;
  }
}

@media (max-width: 992px) {
  .boton-elegante {
    padding: 12px 40px !important;
    font-size: 1rem !important;
  }
}

@media (max-width: 768px) {
  .boton-elegante {
    padding: 10px 30px !important;
    font-size: 0.9rem !important;
  }
}

@media (max-width: 480px) {
  .boton-elegante {
    padding: 8px 20px !important;
    font-size: 0.8rem !important;
  }
} */ 
/* ---------------------------|| Cars we ofer Section End || ---------------------------|| */
/* ////////////////////////////////////////////////////////////////////////////////*/
